<section class="header center-align">
  <h1>RAFA</h1>
  <h2>distributing</h2>
  <%= image_tag 'mouse.png', class: 'scroller hide-on-med-and-down' %>
</section>

<%= image_tag "hopsketch.png", class: "responsive-img hopsketch" %>

<div class="container">
  <%= image_tag "grain.png", class: "responsive-img grain" %>
  <div class="row">
    <div class="content-box-1 col m8 s12 offset-m4">
      <p>Ut non odio vitae est venenatis varius. Donec ultrices libero et ligula dictum, id feugiat sem dignissim. Cras efficitur mauris id eleifend interdum. Sed eget enim arcu. Ut non odio vitae est venenatis varius.</p>
    </div>
  </div>

  <div class="row">
    <div class="content-box-2 col m8 s12">
      <p>"Only Good Shit"</p>
    </div>
  </div>

  <%= image_tag "hopsketch.png", class: "responsive-img hopsketch2" %>
  <%= image_tag "RAFA_16.png", class: "responsive-img grain" %>

  <div class="row">
    <div class="content-box-4 col l12 m12 s12">
      <h3>CONTACTS</h3>
      <div class="row">
        <div class="col m6 s12">
          <p id="names">Lauren Shor</p>
          <p id="titles">Owner</p>
          <p id="cicerones">Certified Cicerone &#174</p>
        </div>
        <div class="col m4 offset-m2 contact-info">
          <p>info@rafadistributing.com</p>
          <p>843.505.1703</p>
        </div>
      </div>
      <div class="row">
        <div class="col m6 s12">
          <p id="names">Will Cheshak</p>
          <p id="titles">Rep - Charleston/Myrtle Beach/Hilton Head</p>
          <p id="cicerones">Certified Cicerone &#174</p>
        </div>
        <div class="col m4 offset-m2 contact-info">
          <p>info@rafadistributing.com</p>
          <p>843.505.1703</p>
        </div>
      </div>
      <div class="row">
        <div class="col m6 s12">
          <p id="names">Ashley Bower</p>
          <p id="titles">Rep - Midlands/Upstate</p>
          <p id="cicerones">Certified Cicerone &#174</p>
        </div>
        <div class="col m4 offset-m2 contact-info">
          <p>info@rafadistributing.com</p>
          <p>843.505.1703</p>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="brands">
  <h1>BRANDS</h1>
  <div class="container">
    <div class="row">
      <% @brands.each do |b| %>
      <div class="col m6 s12">
        <div class="card medium">
          <div class="card-image waves-effect waves-block waves-dark card-overwrite">
            <% unless b.image.blank? %>
              <%= link_to image_tag(b.image), raw(b.link) %>
            <% end %>
          </div>
          <div class="card-content">
            <span class="card-title grey-text text-darken-4"><%= b.name %></span>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</section>
