<section class="header center-align">
  <h1>RAFA</h1>
  <h2>distributing</h2>
  <%= image_tag 'mouse.png', class: 'scroller hide-on-med-and-down' %>
</section>

<%= image_tag "hopsketch.png", class: "responsive-img hopsketch" %>
<%= image_tag "hopright.png", class: "responsive-img hopright" %>

<div class="container">
  <div class="row">
    <div class="content-box-1 col m8 s12 offset-m2">
      <p>Rafa Distributing is a boutique craft beer distributor based in Charleston, SC.  We maintain a high-quality portfolio of specialty beer brands, providing the entire state with the most eclectic and unique craft beers available to us. Rafa's mission as a brewer-focused distributor is to assure that our customers are receiving the best selection possible and that beer drinkers throughout South Carolina are drinking just good shit</p>
    </div>
  </div>
<%= image_tag "hopright.png", class: "responsive-img hopright2" %>


  <%= image_tag "hopsketch.png", class: "responsive-img hopsketch2" %>
  <%= image_tag "RAFA_16.png", class: "responsive-img grain" %>

  <div class="row">
    <div class="content-box-4 col l12 m12 s12">
      <h3>CONTACTS</h3>
      <% @employees.each do |e| %>
      <div class="row"> 
        <div class="col m6 s12">
          <p id="names"><%= e.name %></p>
          <p id="titles"><%= e.description %></p>
        </div>
        <div class="col m4 offset-m2 contact-info">
          <p><a href="mailto:<%= e.email %>?Subject=Rafa%20Inquiry" target="_top"><%= e.email %></a><p>
          <p><a href="tel:<%= e.phone %>"><%= e.phone %></a></p>
        </div>
      </div>
      <% end %>
    </div>
</div>

<section class="brands">
  <h1>BRANDS</h1>
  <div class="container">
    <div class="row">
      <% @brands.each do |b| %>
      <div class="col m6 s12">
        <div class="card medium">
          <div class="card-image waves-effect waves-block waves-dark card-overwrite">
            <% unless b.image.blank? %>
              <%= link_to image_tag(b.image), raw(b.link), target: "_blank" %>
            <% end %>
          </div>
          <div class="card-content">
            <p class="card-title grey-text text-darken-4"><%= b.name %></p>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</section>
